.timer{
    width: 400px;
    background: rgb(110, 211, 110);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

.all{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.time{
    display: flex;
}

.control{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.control button{
    width: 100px;
    height: 35px;
    border-radius
    : 10px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ;
}

.control button:hover{
    background: green;
    color: white;
}
